@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.search-bar{
    width:55vw;
    background-color: #f8f8f8;
    border-radius: 8px;
}

#srch{
   width: 50vw;
   border-radius: 8px;
   border: #f8f8f8;
   color: #f8f8f8;
}
.btn-success{
    height: 10vh;
    width: 7vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
}
svg.btn-success{
   justify-content: center;

}
.location{
    margin: 10px;
    padding: 10px;
}

div.mid{
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.mid1{
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
    /* padding: 10px; */
    margin: 2px;
    display: flex;
   
  }
  #img{
    width: 30%;
    margin: 10px;
  }
div.mid2{
    display: contents;
    margin: 10px;
}
div.bttom{
    overflow: auto scroll;
    white-space: nowrap;
    padding: 10px;
    display: flex;
}
footer{
 display: flex;
}
div.containder{
    position: relative;
    
}
.p-dis{
    color: rgb(79 79 79);
}
.p-action{

   justify-content:flex-start;
}
.btn-outline-success{

}